@import url('../../constants.css');

.profile-editor {
    display: grid;
    place-items: center;
}

.card.maximized.editing {
    /* transform: translateX(-80%)!important; */
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.8);
}

.card.maximized.little-card {
    transform: translateX(-215%) scale(150%)!important;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.8);
}

.card-stack.editing .little-card:hover {
    border: 5px var(--nice-white) solid;
    cursor: pointer;
}

.card-stack.editing:has(.card.maximized,.editor-container-exit-active) .big-card:hover,
.card-stack.editing:has(.card.maximized,.editor-container-exit-active) .little-card:hover {
    border: none;
    cursor: auto;
}

.card-stack.editing:has(.card.maximized) {
    overflow: visible;
}

.editor{
    z-index: 11;
    position: relative;
    border: 3px var(--nice-white) solid;
    border-radius: 10px;
    padding: 1rem;
    width: 90%;
    max-height: 100%;
    transition: opacity 400ms ease;
    display: grid;
    gap: 0.5rem;
    place-items: center;
    overflow-y: auto;
}

.editor>div {
    width: 90%;
    display: grid;
    place-items: center;
}

.expanded-edit {
    position: absolute;
    height: 83vh;
    display: grid;
    place-items: center;
    width: 100vw;
    grid-template-columns: 40% 60%;
}

/* .expanded-edit .card.maximized.editing {
    transform: none!important;
} */

.expanded-edit .card {
    position: static;
}

.expanded-edit.editor-container-enter .editor{
    opacity: 0;
}

.expanded-edit.editor-container-enter-active .editor{
    opacity: 1;
}

.expanded-edit.editor-container-exit .editor{
    opacity: 1;
}

.expanded-edit.editor-container-exit-active .editor{
    opacity: 0;
}

.card.editing.editor-container-exit-active,
.card.editing.editor-container-enter:not(.editor-container-enter-active) {
    scale: 200%;
    transform: translateX(-103.5%)!important;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.card.little-card.editing.editor-container-exit-active {
    transform: translateX(-258%)!important;
}
.card.little-card.editing.editor-container-enter:not(.editor-container-enter-active) {
    transform: translateX(-258%)!important;
}

.card.maximized.editing.editor-container-exit-done,
.card.maximized.editing.little-card {
    transform: none!important;
}

.card.maximized.editing.editor-container-enter,
.card.maximized.editing.little-card {
    transform: none!important;
}

.dropdown {
    display: grid;
    width: 50%;
}

.editor label {
    font-size: large;
    font-weight: 700;
}

.editor select,
.editor option,
.editor input,
.editor textarea {
    background-color: transparent;
    padding: 1rem;
    font-size: large;
    border-radius: 10px;
    border: 3px var(--nice-white) solid;
    margin: 0.5rem 0.5rem 0.5rem 0;
    box-sizing: border-box;
}

.dropdown option {
    color: black;
}

.editor button,
.toggle-button {
    cursor: pointer;
    background-color: transparent;
    font-size: 25px;
    border: 2px var(--nice-white) solid;
    border-radius: 999rem;
    padding: 0.5rem 1rem;
    transition: all 200ms ease;
    width: fit-content;
}

#pfp-url {
    width: 95%;
}

.editor input {
    cursor: auto;
}

.editor button:hover,
.toggle-button:hover,
.toggle-button:has(input:checked) {
    color: #222222;
    background-color: var(--nice-white);
    padding: 0.5rem 2rem;
}

.editor button.error {
    border: 4px red solid;
}

.editor button.error:hover {
    background-color: red;
}

.transformations input[type="range"],
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: gray;
    border: none;
    outline: white;
    height: 0.5rem;
    padding: 0;
    margin: 0.25rem 0 0.25rem 0;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    background: var(--nice-white);
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
}

.transformations {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto;
    gap: 4rem;
}

.transformations input {
    margin: 0;
}

.transformations>div {
    display: grid;
    place-items: center;
    gap: 10px;
    /* width: 30%; */
}

.transformations span {
    font-weight: 600;
}

.transformations input[type="number"] {
    width: 50%;
    text-align: center;
}

.transformations input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.editor textarea {
    width: 100%;
    font-size: xx-large;
}

.toggle-button:hover {
    background-color: transparent;
    color: var(--nice-white);
}

.ethnicity-container,
.selected-languages,
.religion,
.habits,
.diet {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.toggle-button {
    display: grid;
    place-items: center;
    text-align: center;
    margin: 0.5rem calc(1rem + 0.25rem);
}

.toggle-button:hover,
.toggle-button:has(input:checked) {
    margin: 0.5rem calc(0rem + 0.25rem);
}

.toggle-button input {
    display: none;
}

.toggle-button:has(input[name="language"]):hover {
    background-color: red;
    border: red solid;
    margin: 0.5rem calc(1rem + 0.25rem);
    padding: 0.5rem 1rem;
}

/* .toggle-button:has(input:checked) {
    background-color: var(--nice-white);
} */

@keyframes instruction-gone {from {opacity: 1;} 90% {opacity: 1;} to {opacity: 0;}}

.instruction {
    position: absolute;
    top: 10vh;
    opacity: 0;
    z-index: 2;
    background: #2b2b2b;
    border-radius: 100vh;
    padding: 1rem;
    animation: instruction-gone 4.5s ease;
}
.no-matches{
    height: 100%;
    display: grid;
    place-items: center;
    text-align: center;
}

@media (orientation: portrait) {
    .expanded-edit {
        box-sizing: border-box;
        grid-template-columns: none;
        grid-template-rows: 50vh 49vh;
        height: 100vh;
        overflow-y: scroll;
    }

    .editor{
        margin: 0.5rem;
        box-sizing: border-box;
        width: calc(100vw - 0.5rem - 1rem);
    }

    .editor>div {
        width: 100%;
    }
    .transformations{
        grid-template-columns: none;
        grid-template-rows: auto auto auto;
        gap: 1rem;
    }
    .transformations input[type="number"]{
        box-sizing: content-box;
    }
    .editor textarea {
        font-size: large;
    }
    .toggle-button{
        margin: 0.5rem;
    }
    .languages{
        display: grid;
        place-items: center;
        gap: 0.5rem;
    }
    .card.maximized.little-card,
    .card.little-card.editing.editor-container-exit-active,
    .card.little-card.editing.editor-container-exit-active,
    .card.little-card.editing.editor-container-enter:not(.editor-container-enter-active),
    .card.editing.editor-container-exit-active,
    .card.editing.editor-container-enter:not(.editor-container-enter-active) {
        transform: translateY(-13vh)!important;
    }
}