@import '../../constants.css';

:root {
    --messages-padding: 2rem;
}

.matches_container, .chat_box {
    height: calc(83vh - 2*var(--messages-padding));
    width: fit-content;
}

.grid_center {
    display: grid;
    place-items: center;
}

.messages_page {
    padding: var(--messages-padding) 0 var(--messages-padding) 0;
    grid-template-columns: 1fr 3fr;
    gap: 30px;
}

.matches_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 100%;
}

.match:nth-last-child(1) {
    border-bottom: none;
}

@keyframes loading {
    0% {
        background: linear-gradient(90deg, transparent 0%, rgba(255,255,255,0.6) 70%, transparent 100%);
        left: -100%;
    }
    50% {
        background: linear-gradient(90deg, transparent 0%, rgba(255,255,255,0.6) 70%, transparent 100%);
        left: 100%;
    }
    51% {
        background: linear-gradient(90deg, transparent 0%, rgba(255,255,255,0.6) 30%, transparent 100%);
        left: 100%;
    }
    100% {
        background: linear-gradient(90deg, transparent 0%, rgba(255,255,255,0.6) 70%, transparent 100%);
        left: -100%;
    }
}

.match {
    grid-template-columns: 25% 75%;
    height: fit-content;
    width: 100%;
    padding: 1rem 0 1rem 0;
    border-bottom: #222222 1px solid;
    cursor: pointer;
    transition: background-color 200ms ease;
    border-radius: 1px;
    position: relative;
}

.match .loading, .match:has(.loading) {
    height: 3.5rem;
    overflow: hidden;
    padding: 0.25rem 0 0.25rem 0;
}

.match .loading {
    width: 100%;
    position: absolute;
    animation: loading 2s ease infinite;
}

/* .match.selected {
    background-color: #222222;
} */

.match.selected, .match:hover {
    background-color: #222222;
    border-radius: 10px 0 0 10px;
}

@keyframes scoop-appear { from {opacity: 0;} to {opacity: 1;} }

.match.selected::after, .match:hover::after,
.match.selected::before, .match:hover::before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    transition: all 200ms ease;
    animation: scoop-appear 200ms ease;
    right: 0;
}

.match.selected::before, .match:hover::before {
    top: -2rem;
    border-radius: 0 0 50% 0;
    box-shadow: 2rem 1rem 0 1rem #222222;
}

.match.selected::after, .match:hover::after {
    bottom: -2rem;
    border-radius: 0 50% 0 0;
    box-shadow: 2rem -1rem 0 1rem #222222;
}

.match .profile_pic img {
    border-radius: 50%;
    object-fit: cover;
    max-width: 3rem;
    aspect-ratio: 1;
}

.name, .last_msg {
    color: var(--nice-white);
}

.name {
    font-size: larger;
    font-weight: 700;
}

.texts {
    width: 100%;
    place-items: center start;
}

.last_msg {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat_box {
    /* background-color: #222222; */
    /* width: 90%; */
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 10%;
    gap: 2rem;
}

.chat_input {
    display: grid;
    grid-template-columns: 9fr 1fr;
    gap: 5px;
}

.chat_input input {
    background-color: #222222;
    border-radius: 10px 0 0 10px;
    border: none;
    padding: 1rem 2rem 1rem 2rem;
    color: var(--nice-white);
    font-size: x-large;
    box-sizing: border-box;
}

.chat_input input:focus-visible {
    outline: none;
}

.chat_input button {
    background-color: #222222;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    color: var(--nice-white);
    font-weight: 700;
    font-size: large;
    box-sizing: border-box;
}

@media (orientation: portrait) {
    .chat_input {
        width: 100vw;
        padding: 0 10px;
        box-sizing: border-box;
    }
    .chat_box {
        height: 100%;
    }
    .chat_input input {
        font-size: large;
    }
}

.chat_window {
    overflow-y: scroll;
    display: flex;
    padding-right: 0.3rem;
    flex-direction: column-reverse;
}

.chat_window.empty,
.chat_box.empty {
    display: grid;
    place-items: center;
    color: var(--nice-white);
}

.bubble_container {
    display: flex;
    width: 100%;
    margin-top: 1rem;
}

.bubble_container:has(.outgoing) {
    justify-content: end;
}

.chat_bubble {
    padding: 0.75em;
    width: fit-content;
    max-width: 60%;
    border-radius: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.outgoing {
    background-color: #222222;
    color: var(--nice-white);
}

.incoming {
    background-color: var(--nice-white);
    color: #222222;
}

.empty-convo {
    display: grid;
    place-items:center;
    gap: 1rem;
}

.openers {
    display: flex;
}

.openers>div {
    border: var(--nice-white) 3px solid;
    color: var(--nice-white);
    background-color: transparent;
    border-radius: 10px;
    padding: 0.7rem;
    margin: 0 1rem;
    transition: all 200ms ease;
    cursor: pointer;
    width: 30%;
    display: grid;
    place-items: center;
    text-align: center;
}

.openers>div:hover {
    background-color: var(--nice-white);
    color: #222222;
}